# Shared variables
admin_user               = "..."
admin_pass               = "..."
postgres_ca_cert_path    = "..."
postgres_user            = "..."
postgres_pass            = "..."
postgres_port            = "..."
redis_port               = "..."
rabbitmq_port            = "..."
rabbitmq_user            = "..."
rabbitmq_pass            = "..."
rabbitmq_admin_user      = "..."
rabbitmq_admin_pass      = "..."
jwt_hmac_key             = "..."
google_client_id         = "..."
sentry_env               = "..."
sentry_dsn               = "..."
slack_client_id          = "..."

# Webapp variables
webapp_stripe_public_key = "..."
webapp_github_app_name   = "..."
webapp_posthog_key       = "..."

# Identity variables
identity_secret_key_base         = "..."
identity_db_name                 = "..."
identity_db_pool_size            = "..."
identity_redis_db                = "..."
stripe_secret_key                = "..."
identity_slack_client_secret     = "..."
identity_slack_signing_secret    = "..."
identity_cloak_key               = "..."

# Ticketing variables
ticketing_secret_key_base        = "..."
ticketing_db_name                = "..."
ticketing_db_pool_size           = "..."
ticketing_redis_db               = "..."

# Activity variables
activity_secret_key_base         = "..."
activity_db_name                 = "..."
activity_db_pool_size            = "..."
activity_redis_db                = "..."

# Coding variables
coding_secret_key_base           = "..."
coding_db_name                   = "..."
coding_db_pool_size              = "..."
coding_redis_db                  = "..."
coding_github_app_id             = "..."
coding_github_app_client_id      = "..."
coding_github_app_client_secret  = "..."
coding_github_app_signing_secret = "..."
coding_github_app_private_key    = "..."
coding_openai_api_key            = "..."
coding_openai_org_key            = "..."
